@import url("./colors.css");
@import url("./blocks/header.css");
@import url("./blocks/container.css");
@import url("./blocks/footer.css");
@import url("./blocks/base.css");
@import url("./blocks/main.css");