.header-top {
    background: rgba(0, 0, 0, 0.14);
    display: none;
}

.header__top-content {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    background-color: transparent;
}

.header__top-ul {
    display: flex;
}

.header__main {
    position: fixed;
    background: #00b956;
    height: 92px;
    width: 100%;
    color: #f6f6f6;
    font-size: 16px;
}

.header__main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

.header__logo {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
}

.header__main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-li {
    margin-left: 60px;
}

.header__menu-li > a {
    color: #fff;
}

.telephone-main {
    width: 203px;
    height: 45px;
    border-radius: 25px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00b956;
    margin-left: 90px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-weight: 500;
}

.tel-blink {
    animation: blink 2.5s infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.banner__text-block > a {
    color: #fff;
}

.banner__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
}

.banner__title {
    font-size: 28px;
    color: #fff;
}

.banner__text-block {
    display: flex;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1%;
    
}