.banner {
    background-image: url("../../media/banner.jpg");
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.objects__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.objects__item {
    max-width: 350px;
    min-width: 250px;
    margin-left: 15px;
    margin-right: 15px;
}

.objects__image {
    max-width: 350px;
    min-width: 250px;
}

.object__title {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}

.objects__selectors {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.objects__selector {
    min-width: 110px;
    height: 30px;
    max-width: 150px;
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
    margin-left: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.object__item-description {
    background-color: #fff;
    min-height: 200px;
}

.object__item-title, .news__item-title {
    font-size: 20px;
    color: var(--red);
}

.object__item-description {
    padding-top: 20px;
    padding-left: 20px;
}

.object__item-adress {
    margin-top: 15px;
}

.news {
    margin-top: 150px;
}

.news__title {
    color: var(--grey-news);
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.news__subtitle {
    font-size: 17px;
    color: var(--grey);
    text-align: center;
    margin-top: 10px;
}

.news__blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.news__item {
    max-width: 350px;
    min-width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news__item-title {
    font-size: 20px;
    font-weight: 700;
    color: #37404D;
    padding-left: 20px;
    padding-top: 20px;
    max-width: 95%;
}

.news__item-description {
    background-color: #fff;
    min-height: 200px;
    position: relative;
    bottom: 50px;
    width: 85%;
    text-align: center;
}

.news__item-text {
    padding-left: 20px;
    padding-top: 20px;
}

.active {
    color: var(--red);
}
